@import '../../global.scss';

.introduction {
    display: flex;
    
    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left-intro {
        flex: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;

        .blob {
            background-image: url('./../../../public/assets/Eswar_Casual.jpg');
            height: 600px;
            width: 600px;
            background-position: center;
            background-size: cover;
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            animation: blob 7s ease-in-out infinite;

            @include mobile {
                height: 300px;
                width: 300px;
            }

            @include ipads {
                height: 450px;
                width: 450px;
            }

            @include thinkpads {
                height: 500px;
                width: 500px;
            }
        }

        @keyframes blob {
            0% {
                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            }
            50% {
                border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            }
            100% {
                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            }
        }
    }


    .right-intro {
        flex: 0.5;

        .intro-right-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 50px;

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            #name-banner {
                font-size: 125px;
                font-family: "Matemasie", sans-serif;
                color: crimson;

                @include mobile {
                    font-size: 75px;
                }

                @include ipads {
                    font-size: 75px;
                }

                @include thinkpads {
                    font-size: 75px;
                }
            }

            h2 {
                font-size: 45px;
                font-family: "Poppins", sans-serif;

                @include mobile {
                    font-size: 25px;
                }

                @include ipads {
                    font-size: 30px;
                }

                @include thinkpads {
                    font-size: 35px;
                }
                
                #activity-banner {
                    color: crimson;
                }

            }
        }
    }
}