@import '../../global.scss';

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    position: relative;

    .section-header {
        position: absolute;
        top: 10px;
        font-size: 40px;
        font-family: "Lilita One", sans-serif;
        color: #270722;
        text-align: center;

        @include mobile {
            font-size: 20px;
            top: 50px;
        }
    }

    .slider {
        height: 450px;
        display: flex;
        position: absolute;
        left: 0;

        @include mobile {
            height: 100vh;
            justify-content: center;
        }

        .project-container {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;

            .project {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 900px;
                height: 100%;
                background-color: #0B132B;
                border-radius: 20px;

                @include mobile {
                    width: 90%;
                    height: 400px;
                }

                .project-left-container {
                    flex: 4;
                    height: 95%;
                    width: 80%;
                    padding-left: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @include mobile {
                        padding-left: 12px;
                    }

                    .project-image {
                        margin-bottom: 25px;

                        img {
                            border-radius: 50%;
                            opacity: 0.9;
                        }
                        
                        @include mobile {
                            transform: scale(0.4, 0.4);
                            object-fit: cover;
                            margin-bottom: 0;
                        }
                    }

                    h2 {
                        font-size: 35px;
                        font-family: "Lilita One", sans-serif;
                        text-align: center;
                        color: white;
                        letter-spacing: 1.2px;

                        @include mobile {
                            font-size: 15px;
                        }
                    }
                }

                .project-right-container {
                    flex: 8;
                    height: 95%;
                    width: 80%;
                    margin: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;  

                    p {
                        color: white;
                        font-family: "Poppins", sans-serif;
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 50px;

                        @include mobile {
                            font-size: 10px;
                            margin-bottom: 10px;
                        }
                    }

                    a {
                        margin-left: 10px;
                        color: white;
                        font-family: "Poppins", sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        text-decoration: none;

                        @include mobile {
                            font-size: 10px;
                            margin-left: 5px;
                        }
                    }

                    a:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }

                    h3 {
                        margin-left: 10px;
                        color: cornsilk;
                        font-size: 10px;
                        font-family: "Poppins", sans-serif;

                        @include mobile {
                            display: none;
                        }
                    }

                    .chip-list {
                        margin-top: 30px;

                        @include mobile {
                            margin-top: 10px;
                        }

                        .skill-chip {
                            display: inline-flex;
                            height: 36px;
                            background-color: white;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            padding: 0;
                            font-size: 14px;
                            font-weight: 600;
                            color: #4A4A48;
                            font-family: "Poppins", sans-serif;
                            white-space: nowrap;
                            align-items: center;
                            vertical-align: center;
                            justify-content: center;
                            text-decoration: none;
                            border-radius: 16px;
                            transition: 0.2s;
                            margin: 6px;

                            @include mobile {
                                height: 16px;
                                font-size: 10px;
                                margin: 2px;
                            }

                            .chip-content{
                                color: inherit;
                                display: flex;
                                align-items: center;
                                user-select: none;
                                white-space: nowrap;
                                padding-left: 12px;
                                padding-right: 12px;

                                @include mobile {
                                    padding-left: 3px;
                                    padding-right: 3px;
                                }
                            }
                        }

                        .skill-chip:hover {
                            transform: scale(0.9);
                            opacity: 0.9;
                        }
                    }

                }
            }
        }

        .project-container:hover {
            opacity: 0.95;
        }
    }

    .arrow {
        height: 75px;
        cursor: pointer;
        position: absolute;
        opacity: 0.7;
        
        @include mobile {
            height: 15px;
        }

        &.left {
            left: 100px;
            transform: rotateY(180deg);

            @include mobile {
                left: 3px;
            }
        }

        &.right {
            right: 100px;

            @include mobile {
                right: 3px;
            }
        }
    }
}