@import '../../global.scss';

.skill-card {
    height: 500px;
    width: 400px;
    border-radius: 25px;
    background-color: #0B132B;
    display: flex;
    flex-direction: column;
    margin: 5px;
    transition: 0.2s;

    @include mobile {
        width: 98%;
        flex-direction: row;
    }

    @include ipads {
        height: 450px;
        width: 350px;
    }

    .skill-head-container {
        flex: 0.3;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;

        .skill-head {
            font-size: 40px;
            font-family: "Lilita One", sans-serif;
            text-align: center;
            color: #E6E8E6;

            @include mobile {
                font-size: 15px;
            }

            @include ipads {
                font-size: 30px;
            }
        }
    }

    

    .skill-list {
        flex: 0.7;
        margin: 10px;
        
        .skill-image {
            margin: 7px 12px;
            display: inline-block;

            @include mobile {
                margin: 3px;
            }

            @include ipads {
                margin: 3px 6px;
            }

            .skill-img {
                width: 60px;
                height: 80px;
                border-radius: 50%;
                margin: 2px;

                @include mobile {
                    width: 42px;
                    height: 42px;
                    margin: 0;
                }

                @include ipads {
                    width: 47px;
                    height: 47px;
                    margin: 0;
                }
            }

            h3 {
                font-family: "Poppins", sans-serif;
                font-size: 15px;
                color: #E6E8E6;
                text-align: center;

                @include mobile {
                    display: none;
                }

                @include ipads {
                    font-size: 10px;
                }
            }
            
        }
    }
}

.skill-card:hover {
    transform: scale(0.95);
    opacity: 0.9;
}