@import '../../global.scss';

.merits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section-header {
        font-size: 40px;
        font-family: "Lilita One", sans-serif;
        margin-bottom: 30px;
        color: #270722;
        text-align: center;
        transition: 0.2s;

        @include mobile {
            font-size: 20px;
            margin-bottom: 5px;
        }

        @include ipads {
            font-size: 30px;
            margin-bottom: 10px;
        }
    }

    ul {
        display: flex;
        margin: 10px;
        padding: 0;
        list-style-type: none;

        @include mobile {
            margin-bottom: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include ipads {
            margin: 5px;
        }
    }

    .merit-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include mobile {
            width: 100%;
        }

        .merit-item {
            width: 225px;
            height: 150px;
            border-radius: 20px;
            border: 1px solid lightgrey;
            margin: 10px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all 0.2s ease;

            @include mobile {
                width: 130px;
                height: 100px;
            }

            @include ipads {
                width: 160px;
                height: 120px;
            }
            
            .merit-message {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                position: absolute;
                font-family: "Poppins", sans-serif;

                h3 {
                    text-align: center;
                    line-height: 90%;
                    overflow-y: hidden;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 5px;

                    @include mobile {
                        font-size: 15px;
                        margin-bottom: 2px;
                    }

                    @include ipads {
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                }
    
                p {
                    text-align: center;
                    line-height: 120%;
                    overflow-y: hidden;
                    font-size: 10px;
                    font-weight: 500;

                    @include mobile {
                        font-size: 12px;
                        margin: 2px;
                    }

                    @include ipads {
                        margin: 2px;
                    }
                }
            }

            .merit-type-image {
                background-color: white;
                width: 120%;
                height: 100%;
                object-fit: contain;
                z-index: 1;
            }

            &:hover {
                background-color: #0B132B;

                img {
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}