@import '../../global.scss';

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .section-header {
        font-size: 40px;
        font-family: "Lilita One", sans-serif;
        color: #270722;
        text-align: center;

        @include mobile {
            font-size: 20px;
        }

        @include ipads {
            font-size: 30px;
        }
    }

    .skills-container {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            flex: 8;
            flex-direction: column;
        }
    }
}