.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .section-header {
        font-size: 30px;
        font-family: "Matemasie", sans-serif;
        color: #270722;
        text-align: center;
        transition: 0.2s;
    }

    .section-header:hover {
        transform: scale(1.5);
    }

    .skills-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}