@import '../../global.scss';

.contact {
    display: flex;
    // align-items: center;
    // justify-content: center;

    @include mobile {
        flex-direction: column;
    }

    .left-contact {
        flex: 1;

        @include mobile {
            flex: 4;
        }

        .contact-img {
            height: 600px;
            width: 750px;
            margin: 25px;

            @include mobile {
                height: 200px;
                width: 300px;
            }
        }
    }

    .right-contact {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile {
            flex: 8;
        }

        h2 {
            font-size: 40px;
            font-family: "Lilita One", sans-serif;
            margin-bottom: 20px;
            color: #270722;
            text-align: center;
            transition: 0.2s;

            @include mobile {
                font-size: 20px;
            }
        }

        form {
            width: 70%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            input {
                width: 300px;
                height: 30px;
                font-size: 16px;
                font-family: "Poppins", sans-serif;

                @include mobile {
                    width: 200px;
                    margin: 5px;
                }
            }

            textarea {
                width: 300px;
                height: 200px;
                font-size: 16px;
                font-family: "Poppins", sans-serif;

                @include mobile {
                    width: 200px;
                    height: 100px;
                    margin: 5px;
                }
            }

            button {
                width: 200px;
                height: 30px;
                font-size: 16px;
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                color: white;
                background-color: #0B132B;
                border: none;
                border-radius: 20px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }

            button:hover {
                opacity: 0.9;
            }

            span {
                font-size: 14px;
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                color: green;
            }
        }

    }
}