@import '../../global.scss';

.work-card {
    display: flex;
    width: 97vw;
    height: 180px;
    margin: 5px;
    background-color: #0B132B;
    border-radius: 25px;
    transition: 0.2s;

    @include mobile {
        width: 90vw;
        margin: 2px;
    }

    @include ipads {
        width: 97vw;
        margin: 2px;
    }

    .left-container {
        flex: 0.25;

        @include ipads {
            flex: 3;
        }

        .work-img {
            height: 160px;
            width: 300px;
            margin: 8px 10px;
            border-radius: 50%;

            @include mobile {
                height: 150px;
                width: 70px;
                border-radius: 50%;
                margin: 5px;
            }

            @include ipads {
                height: 150px;
                width: 180px;
                border-radius: 50%;
                margin: 5px;
            }
        }
    }

    .right-container {
        flex: 0.75;
        font-family: "Poppins", sans-serif;
        display: relative;

        @include ipads {
            flex: 9;
        }

        .work-head {
            margin-top: 8px;
            @include mobile {
                margin-top: 5px;
            }

            @include ipads {
                margin-top: 5px;
            }

            h2 {
                font-size: 18px;
                font-weight: 700;
                color: white;

                @include mobile {
                    font-size: 12px;
                    margin-left: 10px;
                    position: absolute;
                }

                @include ipads {
                    font-size: 15px;
                    // margin-left: 8px;
                }

                span {
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #858DAD;

                    @include mobile {
                        display: block;
                        font-size: 10px;
                        margin-left: 0;
                    }

                    @include ipads {
                        font-size: 12px;
                        margin-left: 8px;
                    }
                }
            }
        }

        .work-items {
            margin-top: 8px;
            @include mobile {
                margin-top: 35px;
                width: 100%;
                height: 70%;
            }

            @include ipads {
                margin-top: 6px;
                width: 100%;
                height: 70%;
            }

            ul {
                .work-item {
                    color: white;
                    letter-spacing: 0.8;
                    font-size: 14px;

                    @include mobile {
                        font-size: 10px;
                    }

                    @include ipads {
                        font-size: 12px;
                    }
                }

                .work-item:before {
                    content: "\2605";
                    padding-right: 8px;
                    color: crimson;

                    @include mobile {
                        font-size: 10px;
                        padding: 5px;
                    }

                    @include ipads {
                        font-size: 12px;
                        padding: 6px;
                    }
                }
            }
        }
    }
}

.work-card:hover {
    transform: scale(0.95);
    opacity: 0.9;
}