@import '../../global.scss';

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .section-header {
        font-size: 40px;
        font-family: "Lilita One", sans-serif;
        color: #270722;
        text-align: center;

        @include mobile {
            font-size: 20px;
        }

        @include ipads {
            font-size: 30px;
        }
    }

    .experience-container {
        display: flex;
        flex-direction: column;

        @include mobile {
            height: 85%;
        }

        @include ipads {
            height: 90%;
        }
    }
}